.root {
  width: 600px;
  margin-right: 40px;
}
.ingredientsRoot {
  max-height: calc(100vh - 284px);
  overflow-y: scroll;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: 8px;
}

.ingredientsRoot::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2f2f37;
}

.ingredientsRoot::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.tabs {
  display: flex;
  margin-bottom: 40px;
}

.ingredientName {
  text-align: center;
}

.priceBox {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
